button{
  outline: none;
  border : 0;
  cursor: pointer;
}
*{
  box-sizing: border-box;
}
.habit{
  font-size: 2.5rem;
  padding:0.5em;
  list-style: none;
}
.habit-count{
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.2em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}
.habit-button{
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover{
  opacity: 0.8;
}


.habit-increase,
.habit-decrease{
  color: goldenrod;
}

.habit-delete{
  color:darkred;
  vertical-align: baseline;
  font-size: 2rem;
}

.clear-button{
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
  position:absolute;
  left:150px;
}

.navbar{
  background-color: blanchedalmond;
  font-size: 2rem;
  padding: 1em;
}
.navbar-logo{
  color: green;
  margin-right: 0.5em;
}

.navbar-count{
  display: inline-block;
  text-align:center;
  font-size: 2rem;
  width:2.5rem;
  height: 2.5rem;
  line-height:2.5rem;
  margin-left:0.2em;
  background-color: green;
  color:white;
  border-radius:50%;
}

#textarea {
  width: 30%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 12px 20px;
}

#textarea:focus{
  border: 5px solid violet;
}

.submit-btn{
  background-color: darkcyan;
  color: white;
  text-decoration: none;
  margin:4px 2px;
  width:100px;
  height:30px;
  border-radius: 0.3rem;
  position:relative;
  
}

.submit-btn:hover{
  border-color: black;
  background-color: aquamarine;
  color: black;
}
.input-form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}