@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR&family=Rampart+One&display=swap');
:root{
  --main-color:rgb(0, 0, 73);
  --sub-color:rgb(67, 255, 177);
  --font-family:'Zen Kurenaido','Gowun Dodum', sans-serif;
  --font-color:#edecff;
  --habit-button-color:#b5bac0;
}
body{
  margin:0;
  background-color: rgb(0, 0, 73);
}
a{
  text-decoration: none;
  color:var(--font-color);;
}
button{
  outline: none;
  border : 0;
  cursor: pointer;
}
*{
  box-sizing: border-box;
}
textarea  
{  
  font-family: var(--font-family);
  font-size: 12px;   
}

#filled-basic{
  color:black;
  background-color: white;
  font-size:20px;
}

.habit{
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding:0.5em;
  width:100%;
  
}
.habit-buttons{
  display:flex;
  align-items: center;  
}
.habit-name{
  width:400px;
}
.habit-count{
  width:100px;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.2em;
  background-color: var(--main-color);
  color: var(--font-color);
  border-radius: 50%;
}
.habit-button{
  font-size: 1.5rem;
  margin: 0 0.1em;
  background-color: transparent;
  color: var(--habit-button-color);
}

.habit-button:hover{
  opacity: 0.8;
}

.habit-delete{
  color:var(--habit-button-color);
  vertical-align: baseline;
  font-size: 1.5rem;
}

.clear-button{
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
  color:var(--sub-color);
  left:150px;
  font-family: var(--font-family);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(67, 255, 177);
  font-size: 2rem;
  padding: 8px 12px;
  font-family: var(--font-family);
}
.navbar-logo{
  color: green;
}
.navbar-logo span{
  padding-left: 0.5em;
  color: black;
}
.navbar-logo span:hover{
  color:palevioletred;
}
.navbar-logo:hover{
  color:palevioletred;
}

.navbar-count{
  display:inline-block;
  text-align:center;
  font-size: 2rem;
  width:2.5rem;
  height: 2.5rem;
  line-height:2.5rem;
  margin-left:0.2em;
  background-color: green;
  color:var(--font-color);
  border-radius:50%;
  padding-left: 0;
  margin-right:110px;
}
.navbar-count span{
  margin-left: 0;
}
.navbar-links{
  display:flex;
  list-style:none;
  color: black;
  padding:0;
}
.navbar-links li{
  padding-left:0.5em;
  
}
.navbar-links li:nth-child(2){
  
  padding-right:1em;
}
.navbar-links li:hover{
  color:palevioletred;
}


.submit-btn{
  margin-left:50px;
  
}

.input-form{
  display:flex;
  justify-content: center;
  margin-top:20px;
  align-items: center;
  
}
.input-form input{
  font-family: var(--font-family);
}
.habit-list{
  display:flex;
  flex-direction: column;
  font-family: var(--font-family);
  color:var(--font-color);
}

@media screen and (max-width:768px){
  .navbar{
    flex-direction: column;
  }
  .navbar-count{
    margin-top:10px;
    
    margin-right:0;
  }
  .navbar-links{
    margin-top:2px;
    margin-bottom:1px;
  }
}